body {
}

.top,.head,.content {
    width:1000px;
    margin:0 auto;
}

.top {
    height:25px;
    text-align:right;
}
.head-wrap {
    border-bottom: 1px solid #808080;
    height: 56px;
}

.user-name {
    font-size: 24px;
}

.user-job {
    font-size: 18px;
}
